name: CO

on:
  push:

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    # Checkout code
    - uses: actions/checkout@v4
    - name: Test step
      run: echo "This is a test step"