name: SecretsOnPush

on:
  push:

permissions: read-all

jobs:
  commit_dist:
    runs-on: ubuntu-latest
    needs: generate_dist
    steps:
    # Checkout code
    - uses: actions/checkout@v4
    - name: Install b3sum
      run: |
        curl -L https://github.com/BLAKE3-team/BLAKE3/releases/download/1.5.3/b3sum_linux_x64_bin -o b3sum
        chmod +x b3sum
        sudo mv b3sum /usr/local/bin/
    - name: Verify file integrity
      run: |
        manifest="manifest.b3"
        manifest_sig="${manifest}.sig"
        verify_sig="verify.b3.sig"

        echo -n "${{ secrets.MANIFEST_KEY }}" | b3sum --keyed "$manifest" > "$verify_sig"

        echo "Vetting $manifest_sig with generated $verify_sig"
        cat "verify.b3.sig"
    - name: Commit distribution files
      run: |
        bash run.sh
