name: UploadArt

on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - id: checkout
        uses: actions/checkout@v2
      - id: step
        name: step
        run: |
          echo "Hello, World!" > hello.txt
          echo "::set-output name=TEST::stdout"
          echo "TEST=viafile" >> $GITHUB_OUTPUT

          echo "AB=viafile" >> $GITHUB_OUTPUT
          echo "::set-output name=TEST::stdout"

          echo "foobar foobar ::set-output name=DEF::stdout"
          echo "::set-output name=XYZ::stdout1"
          echo "::set-output name=XYZ::stdout2"

      - name: Print results
        run: |
          echo "TEST=${{ steps.step.outputs.TEST }}"
          echo "AB=${{ steps.step.outputs.AB }}"
          echo "DEF=${{ steps.step.outputs.DEF }}"
          echo "XYZ=${{ steps.step.outputs.XYZ }}"
