name: UploadArt

on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - id: step
        name: step
        run: |
          mkdir -p .git
          echo "Hello, world!" > .git/result.txt
      - id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: .
          include-hidden-files: true
